.contact-form {
    text-align: start;
    margin-left: 18%;
    margin-right: 18%;
    border: 1px solid #EEE;
    border-radius: 10px;
    padding: 30px;

    display: flex;
    flex-direction: column;
}

.contact-title{
    width: 180px;
}

.contact-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}

.form-group {
    width: 46%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #EEE;
    border-radius: 5px;
    font-size: 16px;
}

.form-group-textarea {
    width: 100%;
}

textarea {
    width: 98%;
    padding: 10px;
    border: 1px solid #EEE;
    border-radius: 5px;
    font-size: 16px;
}

.input-error {
    border-color: red;
}

.error-message {
    color: red;
    margin-top: 5px;
}

.submit-button {
    background-color: #313131;
    color: white;
    border: 1px solid #EEE;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    width: 150px;
}

.submit-button:hover {
    background-color: #313131;
    color: white;
}