.feedback-title{
    text-align: start;
    padding-left: 18%;
    padding-right: 18%;
    margin-bottom: 20px;
}

.feedback-card{
    padding-left: 18%;
    padding-right: 18%;
}

.inner-card{
    padding: 50px 100px 50px 100px;
    border: 1px solid #EEE;
    border-radius: 10px;
}

.author{
    font-weight: 500;
}