.aboutme{
    padding-left: 18%;
    padding-right: 18%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.name-socials{
    text-align: start;
}

.name{
    font-weight: 500;
    font-size: 30px;
}

.location{
    margin-bottom: 20px;
}

.social-icons{
    display: flex;
    align-items: center;
}

.icons-sm{
    font-size: 16px;
    margin-right: 5px;
}

.icons{
    color: black;
    font-size: 25px;
    margin-right: 10px;
}

.about-me-content{
    font-size: 14px;
    font-weight: 400;
    text-align: start;
}

.upwork{
    width: 28px;
    height: 28px;
}

.leetcode{
    margin-left: 8px;
    width: 28px;
    height: 28px;
}